@font-face {
    font-family: 'monocraft';
    src: url('assets/font/monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    font-family: monocraft;
    font-size:xx-large;
}

.center {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.question {
    margin-top: 25vh;
}

input[type="text"] {
    width: 100vw;
    height: 40px;
    font-size: 36px;
    background: none;
    border: none;
    outline: none;
    color: white;
    text-align: center;
}

#hint {
    color: gray;
}

.invisible {
    color: black;
}

img {
    image-rendering: pixelated;
}

img.large {
    width: 40vw;
}

img.stupid_big {
    width: 12000px;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.pad {
    margin-top: 15vh;
}

.fade_in {
    opacity: 0;
    animation: fadeIn 10s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}