@font-face {
    font-family: 'monocraft';
    src: url('assets/font/monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    font-family: monocraft;
    font-size:xx-large;
}

html, body {
  overflow: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;}

.center {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.question {
    margin-top: 25vh;
}

input[type="text"] {
    width: 100vw;
    height: 40px;
    font-size: 36px;
    background: none;
    border: none;
    outline: none;
    color: white;
    text-align: center;
}

#hint {
    color: gray;
}

.invisible {
    color: black;
}

img {
    image-rendering: pixelated;
}

img.large {
    width: 40vw;
}

img.stupid_big {
    width: 12000px;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.pad {
    margin-top: 15vh;
}

.fade_in {
    opacity: 0;
    animation: fadeIn 10s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.relative_pos {
    position: relative;
}

[class^="door"] {
    width: 2.5vmax;
    position: absolute;
    transform: translate(-50%, -50%);
}

.door0 {top: 90vh; left: 50vw;}
.door1 {top: 20vh; left: 35vw;}
.door2 {top: 80vh; left: 65vw;}
.door3 {top: 50vh; left: 28vw;}
.door4 {top: 20vh; left: 65vw;}
.door5 {top: 80vh; left: 35vw;}
.door6 {top: 50vh; left: 72vw;}
.door7 {top: 50vh; left: 50vw;}
.door8 {top: 10vh; left: 50vw;}

.border {
    border: 2px solid white;
}
