@font-face {
    font-family: 'monocraft';
    src: url('assets/font/monocraft.ttf') format('truetype'); /* Adjust format if needed */
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    font-family: monocraft;
    font-size:xx-large;
}

.center {
    display: flex;
    justify-content: center;
    place-items: center;  /* Centers both horizontally & vertically */
    flex-direction: column; /* Stack elements vertically */
}

.question {
    margin-top: 25vh; /* Adjust the value to move it lower */
}

input[type="text"] {
    width: 100vw;       /* Increases width */
    height: 40px;       /* Increases height */
    font-size: 36px;    /* Makes text larger */
    background: none;
    border: none;
    outline: none;
    color: white;
    text-align: center;
}

#hint {
    color: gray;
}

.invisible {
    color: black;
}

img {
    image-rendering: pixelated;
}

img.large {
    width: 40vw;
}

img.stupid_big {
    width: 12000px;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}